/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*@media only screen and (min-width: 35em) {
     Style adjustments for viewports that meet the condition 
}
*/
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




.header_area{
	width:100%;
	background-color:rgba(0,0,0,0.2);
	box-shadow:0px 0px 6px #222;
}
.logo img{
	width:100%;
	margin-top:20px;
}
.social{
	margin-top:15px;
	
}
.social ul{
	
}
.social ul li{
	list-style:none;
	display:inline;
	margin-right:5px;
	
}
i{
	width: 32px;
	height: 32px;
	text-align: center;
	padding-top: 8px;
	color: #fff;
	border:2px solid #999;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
}
.social ul li a{
	text-decoration:none;
}
.social ul li a:hover{}
.social p{text-align:right;margin-top:-5px;}
.fl{
	float:right;
}
.social ul li:hover i.fa-google-plus{
	color:#fff;
	background:#BE3528;
	border:2px solid #BE3528;
}
.social ul li:hover i.fa-facebook{
	color:#fff;
	background:#3C599B;
	border:2px solid #3C599B;
}
.social ul li:hover i.fa-linkedin{
	color:#fff;
	background:#007BB6;
	border:2px solid #007BB6;
}
.social p{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-style:italic;
}
.main_area{
	width:100%;
	height:200px;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	/*background:rgba(0,0,0,0.5);*/
	margin-top:60px;
}
.main_area p{
	font-size:20px;
	font-style:italic;
}
.input_email{
	width: 100%;
	background: transparent;
	height: 45px;
	border: 2px solid #FFF;
	border-radius: 4px;
	padding: 0px 15px;
	color: #E0E0E0;
	font-style: italic;
	font-size: 17px;
	font-family: 'Roboto Condensed', sans-serif;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
}
.input_email:hover, .input_email:focus{
	border:2px solid #FFF;
	box-shadow:none;
}
.input_submit{
	margin-top: 20px;
	width: 120px;
	height: 45px;
	background: transparent;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
	border-radius: 3px;
	font-size: 15px;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
}
.input_submit:hover{
	background:#fff;
	color:#666;
}


.footer_area{
	height:100px;
	width:100%;
}
.footer_area ul{
	list-style:none;
	
}
.footer_area ul li{
	display:inline;
	margin-right:7px;
	float:left;
}
.footer_area ul li a{}
.footer_area ul li a:hover{}
.footer_area i{
	border-radius:20px;
	border:2px solid #fff;
}
.footer_area i:hover{
	background:#2a81bb;
	border:2px solid #2a81bb;
}

.shade{
	background:rgba(0,0,0,0.5);
	border-radius:5px;
	height:400px;
	overflow-y:scroll; 
}
/* start */
/* .main_area{
	background:none;
}
.main, .footer_area{display:none;} */
.disclaimer{display:none;}

/* end */
.disclaimer .para p{
	font-size:12px;
	font-style:normal;
	font-weight:normal;
	text-align:justify;
	font-family: 'Open Sans', sans-serif;
	line-height:15px;
}
.disclaimer{
	margin-top:-110px;
}
.disclaimer strong{font-style:italic;}
.disclaimer h2{
	font-size:16px;
	margin-bottom:-15px;
}
.para h4{
	margin-bottom: -10px;
	font-style:italic;
}
.para{
	text-align: left;
}
.underline{text-decoration:underline;}
.para ol li{
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-align: justify;
	line-height: 15px;
}
.close_icon{
	position: absolute;
	right: 15px;
	top: 5px;
	cursor: pointer;
}
.close_icon:hover{
	background:#fff;
	color:#222;
	border:2px solid #fff;
}

.disclaimer_btn{
	margin-left:25px;
}
.small_screen{
	display:none;
}

.main{
	height:200px;
}



.bx-controls{display:none}
@font-face {
    font-family: sliderFontRegular;
    src: url(../fonts/Antipasto_regular.otf);
}
@font-face {
    font-family: sliderFontLight;
    src: url(../fonts/Antipasto_extralight.otf);
}
.slider_area{
	color:#fff;
	text-align:center;
}
.slider_area h1{
	font-family:sliderFontLight;
	font-size:44px;
	word-spacing: 15px;
	margin-top: 50px;
}
.slider_area h1 strong{
	font-family:sliderFontRegular;
}



/* responsive */
/* tablet  < 150%*/
@media only screen and (max-width: 1200px) {
	.disclaimer_btn{
	margin-left:10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.main_area{
	width:100%;
	height:220px;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	
	margin-top:40px;
}
.disclaimer_btn {
margin-left: -5px;
}
.disclaimer {
margin-top: -35px;
}
.big_screen{
	display:none;
}
.small_screen{
	display:block;
}
.logo{
	width: 32%;float: left;
}
.social {
	float: left;width: 66%;
}
.main_area p{
	font-size:18px;
	font-style:italic;
}
	
}

@media only screen and (max-width: 767px) {
.big_screen{
	display:none;
}
.small_screen{
	display:block;
}
.main_area{
	margin-top:5px;
	height:235px;
}
.disclaimer_btn {
margin-left:34%;
}
.disclaimer{
	margin-top:-15px;
}
.logo{
	width: 32%;float: left;
}
.social {
	float: left;width: 66%;
}
	
}

/* wide mobile layout 150%-<250% */
@media only screen and (min-width: 361px) and (max-width: 767px) {
.main_area{
	width:100%;
	height:220px;
	color:#fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:center;
	/*background:rgba(0,0,0,0.5);*/
	margin-top:5px;
}
.main_area p{
	font-size:16px;
	font-style:italic;
}
.disclaimer_btn {
margin-left: 43%;
}
.fix_width{
	width:100%;
}
.disclaimer {
margin-top: -10px;
}
.logo{
	width: 40%;float: left;
}
.social {
	float: left;width: 58%;
}

.slide h1{
	font-size:28px;
}


}
@media only screen and (min-width: 371px) and (max-width: 520px) {
	.disclaimer_btn {
margin-left: 40%;
}
}
@media only screen and (min-width: 50px) and (max-width: 370px) {
.logo{
	clear: both;
	width: 80%;
	margin-left: 20px;
}
.social {
	width: 80%;
}
.main{
	height:200px;
}
.main_area{
	margin-top: 5px;
}
.main_area p{
	font-size:14px;
	font-style:italic;
}
.slider_area h1{
	font-size:24px;
	word-spacing: 8px;
}
.disclaimer_btn{
	margin-left: 35%;
}

 
}

